.below-the-fold{
    min-height: 400px;
    background-color: #f4f4f4;
}

footer{
    background-color:#303f5e;  
    color:white;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

footer ul{
    list-style-type: none;
    padding: 0;
}

.copyright{
    clear: both;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: #181f2f;
}

.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.flex-container > article{
    padding: 10px;
    flex: 50%;
}
    
footer > div.flex-container > div{
    padding: 10px;
    flex: 33%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
