<!--footer-->
<footer class="footer">
  <div class="f-top">
    <div class="f-container ">
      <!-- Company Info -->
      <div class="f-col">
        <div class="f-name fw-6">S. Phaneuf & Associates</div>
        <div class="f-moto">
          With 35 years of experience, no job is too big or complex for us to handle. Trust in a company that takes pride in their work.
        </div>
        <!-- Social Links -->
        <div style="margin-top:15px;">
          <a class="f-sociallink" target="_blank" rel="noopener noreferrer" aria-label="Follow us on Instagram" href="https://www.instagram.com/phaneufassociates/">
            <img class="f-img" src="/images/instagram.svg" alt="Instagram" width="24" height="24" decoding="async">
          </a>
          <a class="f-sociallink" target="_blank" rel="noopener noreferrer" aria-label="Follow us on Facebook" href="https://www.facebook.com/p/Phaneuf-Associates-100054709692721">
            <img class="f-img" src="/images/facebook.svg" alt="Facebook" width="24" height="24" decoding="async">
          </a>
          <a class="f-sociallink" target="_blank" rel="noopener noreferrer" aria-label="Follow us on LinkedIn" href="https://www.linkedin.com/company/phaneuf-associates-incorporated/about/">
            <img class="f-img" src="/images/linkedin.svg" alt="LinkedIn" width="24" height="24" decoding="async">
          </a>
          <a class="f-sociallink" target="_blank" rel="noopener noreferrer" aria-label="Visit us on Yelp" href="https://www.yelp.com/biz/s-phaneuf-and-associates-groton">
            <img class="f-img" src="/images/yelp.svg" alt="Yelp" width="24" height="24" decoding="async">
          </a>
        </div>
      </div>
      <!-- Service Areas -->
      <div class="f-col">
        <div class="f-headline fw-6">
          <a class="c-w" href="/middlesex-county">Middlesex County</a>
        </div>
        <ul class="f-links">
          <li><i class="greater-than"></i><a href="/middlesex-county/hardscape-contractor-acton-ma">Acton</a></li>
          <li><i class="greater-than"></i><a href="/worcester-county/hardscape-contractor-bolton-ma">Bolton</a></li>
          <li><i class="greater-than"></i><a href="/middlesex-county/hardscape-contractor-carlisle-ma">Carlisle</a></li>
          <li><i class="greater-than"></i><a href="/middlesex-county/hardscape-contractor-concord-ma">Concord</a></li>
          <li><i class="greater-than"></i><a href="/middlesex-county/hardscape-contractor-lexington-ma">Lexington</a></li>
          <li><i class="greater-than"></i><a href="/middlesex-county/hardscape-contractor-littleton-ma">Littleton</a></li>
        </ul>
      </div>
      <!-- More Service Areas -->
      <div class="f-col">
        <div class="f-headline fw-6">
          <a class="c-w" href="/worcester-county">Worcester County</a>
        </div>
        <ul class="f-links">
          <li><i class="greater-than"></i><a href="/worcester-county/hardscape-contractor-bolton-ma">Bolton</a></li>
          <li><i class="greater-than"></i><a href="/worcester-county/hardscape-contractor-harvard-ma">Harvard</a></li>
          <li><i class="greater-than"></i><a href="/worcester-county/hardscape-contractor-mendon-ma">Mendon</a></li>
          <li><i class="greater-than"></i><a href="/worcester-county/hardscape-contractor-northborough-ma">Northborough</a></li>
          <li><i class="greater-than"></i><a href="/worcester-county/hardscape-contractor-shrewsbury-ma">Shrewsbury</a></li>
          <li><i class="greater-than"></i><a href="/worcester-county/hardscape-contractor-southborough-ma">Southborough</a></li>
          <li><i class="greater-than"></i><a href="/worcester-county/hardscape-contractor-upton-ma">Upton</a></li>
        </ul>
      </div>
      <!-- Portfolio -->
      <div class="f-col">
        <div class="f-headline   fw-6">Our Services</div>
        <ul class="f-links">
          <li><i class="greater-than"></i><a href="/asphalt-paving">Asphalt Paving</a></li>
          <li><i class="greater-than"></i><a href="/masonry-hardscapes">Masonry & Hardscapes</a></li>
          <li><i class="greater-than"></i><a href="/excavation-site-development">Excavation & Site Development</a></li>
          <li><i class="greater-than"></i><a href="/snow-ice-management">Snow & Ice Management</a></li>
        </ul>
      </div>
      <!-- Contact -->
      <div class="f-col">
        <div class="f-headline fw-6">Get In Touch</div>
        <address>
          <ul class="lst-n ">
            <li>P.O. Box 190 <br>Groton, MA 01450</li>
            <li>info@phaneufassociates.com</li>
            <li>Mon to Fri: 8AM - 4:00PM</li>
            <li><a href="tel:+19786694919" >978-669-4919</a></li>
          </ul>
        </address>
      </div>
    </div>
  </div>
  <!-- Bottom Copyright -->
  <div class="copyright t-c fw-3 f-links">
    Serving homeowners across <a href="/middlesex-county">Middlesex County</a>, <a href="/worcester-county">Worcester County</a>, and the Greater Boston, MA area.<br>
    © 2026 S. Phaneuf & Associates. All Rights Reserved.<br>
    Use of this site constitutes acceptance of our <a href="/terms-of-use" >Terms of Use</a> and <a href="/privacy-policy">Privacy Policy</a>.<br>
    <a href="/sitemap">Sitemap</a>
  </div>
</footer>