<!-- areas-served  services pages-->
{# pages - Services, Service Areas #}
{% if areasServed %}
<section id="{{ areasServed.heading | slugify }}">
  <h2 class="pipe">{{ areasServed.heading }}</h2>
  {% if areasServed.intro %}
    <p>{{ areasServed.intro | safe }}</p>
  {% endif %}
  <div class="areas-grid">
    {% for location in areasServed.locations %}
      <div class="area-item">
        {% if location.url %}
          <a class="area-link" href="{{ location.url }}" >{{ location.name }}</a>
        {% else %}
          <span class="area-text">{{ location.name }}</span>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}