<section class="py-1">
    <h2  class="pipe pt-4">{{ service.benefits.heading }}</h2>
    <p class="py-3">{{ service.benefits.intro }}</p>
    <div class="row">
        {% for item in service.benefits.items %}
            <div class="col-md-6 mb-4">
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
            </div>
        {% endfor %}
    </div>
</section>