<article class="project-card">

    <img 
        src="{{ project.image }}" 
        alt="{{ project.title }}"
        loading="lazy"
    >

    <h3>{{ project.title }}</h3>

    <address>
        {{ project.location }}
    </address>

    <p>
        {{ project.description }}
    </p>

</article>