<h2 class="pipe pt-5">{{ estimateHeading }}</h2>
<p class="pt-3">{{ estimateIntro }}</p>
<p class="pb-3">{{ estimateDescription }}</p>
<div class="t-c my-4">
    <a class="btn btn-outlined" href="{{ estimateButtonLink }}">{{ estimateButtonText }}</a>
</div>