<!--full-width-image-->
<hr class="m-0">
<picture>
    <source media="(min-width:1029px)" srcset="/images/large/our-services.webp">
    <img loading="lazy" decoding="async" src="/images/small/our-services.webp" alt="Professional asphalt paving and site development services completed throughout Massachusetts." width="365" height="274">
</picture>

{# <picture class="full-width-banner">
  <!-- Desktop screens (1024px and wider) -->
  <source media="(min-width: 1024px)" srcset="/images/large/our-services.webp" width="1600" height="600">
  
  <!-- Tablet screens (567px to 1023px) -->
  <source media="(min-width: 567px)" srcset="/images/566/our-services.webp" width="1023" height="450">
  
  <!-- Mobile screens fallback (Up to 566px) -->
  <img loading="lazy" src="/images/small/our-services.webp" alt="Professional asphalt paving, masonry, and site development completed throughout Massachusetts." width="566" height="300">
</picture> #}

