<!--process-->
<section class="process"   id="{{ service.process.heading | slugify }}" >
    <h2 class="pipe pt-5">{{ service.process.heading }}</h2>
    <p>{{ service.process.intro }}</p>
    {% for step in service.process.steps %}<div class="process-step"><h3>{{ step.title }}</h3><p>{{ step.description }}</p></div>{% endfor %}
</section>