<!-- {{ item.slug }} -->
<section class="service-card" id="{{ item.slug }}">
    <div>
        <div>
            <a href="{{ item.link }}">
                <img src="{{ item.image }}" alt="{{ item.alt }}" width="400" height="300" loading="lazy" decoding="async" >
            </a>
        </div>
        <div>
            <h2><a href="{{ item.link }}">{{ item.title }}</a></h2>
            <p>{{ item.description }}</p>
            {% if item.services and item.services.length %}<ul class=" li ">
                    {% for service in item.services %}<li>{{ service }}</li>{% endfor %}
            </ul>{% endif %}
            <a class="btn" href="{{ item.link }}">Explore {{ item.title }} &rarr;</a>
        </div>
    </div>
</section>