{#

<section class="py-3">
    <h3 class="pipe ms-0 py-0 mt-3">{{ projectTitle }}</h3>
    <address class="fw-6 c-b pt-2">{{ projectLocation }}</address>
    <p>{{ projectDescription | safe }}</p>
    {{ content | safe }}
</section>

#}