<hr class="m-0 mt-5">
<div class="t-c p-5 my-4 fw-7 fst-i c-b">
    <h2 class="c-b">{{ ctaHeading }}</h2>
    <p class="mb-3">{{ ctaText }}</p>
    <a class="c-b td-n fs-3xl" href="tel:+19786694919">978-669-4919</a>
</div>