<!--intro-section-->
<section id="{% if introSlug %}{{ introSlug }}{% endif %}">
    <h2>{{ intro.heading }}</h2>
    {% for paragraph in intro.paragraphs %}<p class="{% if loop.first %} {% endif %}">{{ paragraph }}</p>{% endfor %}
    {% if intro.callout %}<div >
        {% if intro.callout.title %}
        <h3>{{ intro.callout.title }}</h3>
        {% endif %}
        <p >{{ intro.callout.text }}</p>
    </div>{% endif %}
    {% if intro.closing %}<p >{{ intro.closing }}</p>{% endif %}
</section>