<!--service-page-->
{% set service = services[serviceType] %}{% include "components/global/global-breadcrumbs.njk" %}  
<div class="container flex-container">
    <!--article-->
    <article class="content">
        {% include "components/service-detail/service-detail-intro.njk" %}
        {% include "components/service-detail/service-detail-benefits.njk" %}
        {% include "components/service-detail/service-detail-items.njk" %}
        {% if portfolio %}{% include "components/portfolio.njk" %}{% endif %}
        {% include "components/service-detail/service-detail-process.njk" %}     
        {% include "components/service-detail/service-detail-faqs.njk" %}
        {% include "components/service-detail/service-detail-areas.njk" %}
        {% include "components/related-services.njk" %}
    </article>
    <!--sidebar-->
    <aside class="contact-form">
    {% include "components/global/global-sidebar.njk" %}
    </aside>
</div>
{% include "components/global/global-final-cta.njk" %}  
{% include "components/global/global-full-width-image.njk" %}