<!--faq-->
<section class="faq"  id="{{ faq.heading | slugify }}">
<h2 class="pipe">{{faq.heading }}</h2>
{% for item in faq.items %}
    <h3>{{ item.question }}</h3>
    <p>{{ item.answer | safe }}</p>
{% endfor %}
</section>