{
  "@type": "{{ schemaType | default('WebPage') }}",
  "@id": "{{ site.url }}{{ canonical | default(page.url) }}#webpage",
  "url": "{{ site.url }}{{ canonical | default(page.url) }}",
  "name": "{{ title | safe }}",
  "description": "{{ description | safe }}",
  "isPartOf": {
    "@type": "WebSite",
    "@id": "{{ site.url }}/#website",
    "name": "S. Phaneuf & Associates",
    "url": "{{ site.url }}/"
  },
  "publisher": {
    "@id": "{{ site.url }}/#organization"
  },
  "mainEntity": {
    "@id": "{{ site.url }}{{ mainEntityId | default('/#organization') }}"
  }
}