---
layout: base.njk
permalink: 404.html
canonical: "/404"

sitemapTitle: "Page Not Found"
sitemapCategory: "other"
order: 999
changefreq: yearly
priority: 0.1

title: "Page Not Found | S. Phaneuf & Associates"
description: "404 Error - The page you are looking for does not exist. Return to the S. Phaneuf & Associates homepage to find the information you need."

#extraCss
#extraSchema
# NAV
#section:
#service:

# HREO
heroImageMobile: "566/foundation.webp"
heroImageDesktop: "large/foundation.webp"
heroImageClass: "foundation"
heroHeading: "Oops! Page Not Found"
heroHeadingNoWrap: ""
heroSubheading: "Sorry, the page you are looking for does not exist."
heroImage: "foundation.webp"
heroCTA: "Go to Homepage"
heroCTALink: "/"


robots: "noindex, follow"

# Use ONLY when hiding a page from the sitemap or collections
eleventyExcludeFromCollections: true

---