---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">{%- for page in collections.all | sort(attribute="data.priority") | reverse %}{%- if page.url and (page.url.endsWith('/') or page.url.endsWith('.html')) %}{%- if not page.data.draft and not page.data.eleventyExcludeFromCollections %}{% set rawUrl = page.url | replace(".html", "") %}{% set cleanUrl = rawUrl if rawUrl == "/" else (rawUrl | replace(r/\/$/, "")) %}{%- if not page.data.eleventyExcludeFromCollections %}
  <url>
    <loc>{{ site.url }}{{ cleanUrl }}</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    <changefreq>{{ page.data.changefreq or "monthly" }}</changefreq>
    <priority>{{ page.data.priority or "0.5" }}</priority>
  </url>{%- endif %}{%- endif %}{%- endif %}{%- endfor %}
</urlset>
