---
layout: base.njk
permalink: "sitemap.html"
canonical: "/sitemap"

changefreq: yearly
priority: 0.2

title: "Sitemap - S.Phaneuf & Associates"
description: "Explore our website's structure and find all the pages you're looking for."

# Use ONLY when hiding a page from the sitemap or collections
eleventyExcludeFromCollections: true
---


<div class="container my-5 py-4">
    <article class="mt-5">


        <!-- Title & Metadata Section -->
        <section class="pb-2 mb-2" style="border-bottom: 1px solid #ccc;">
            <h1>Sitemap for S. Phaneuf Associates Website</h1>
            <p class="fs-xs">Last Updated: October 30, 2025</p>
        </section>
        
        <!-- Sitemap Content -->
        <!-- Sitemap Content -->
        <section>
            <h2 class="fs-lg">Website Structure</h2>
            <ul>
                {%- for item in collections.all | sort(attribute="data.order") %}
                    {# Filter out non-HTML files (like CSS/JS), excluded items, and index loops #}
                    {%- if item.url 
                        and not item.data.eleventyExcludeFromCollections 
                        and not item.url.endsWith('.css') 
                        and not item.url.endsWith('.js') %}
                        <li>
                            <a href="{{ item.url }}">
                                {{ item.data.sitemapTitle or item.data.navTitle or item.data.title or item.url }}
                                {# {{- item.data.title or item.url -}} #}
                            </a>
                        </li>
                    {%- endif %}
                {%- endfor %}
            </ul>
        </section>

    </article>
</div>